.flair-alpine { background-position: 0px 0px; }
.flair-android { background-position: 0px -16px; }
.flair-apple { background-position: 0px -32px; }
.flair-aptosid { background-position: 0px -48px; }
.flair-arch { background-position: 0px -64px; }
.flair-artix { background-position: 0px -80px; }
.flair-backtrack { background-position: 0px -96px; }
.flair-centos { background-position: 0px -112px; }
.flair-chakra { background-position: 0px -128px; }
.flair-debian { background-position: 0px -144px; }
.flair-devuan { background-position: 0px -160px; }
.flair-dragonflybsd { background-position: 0px -176px; }
.flair-endeavour { background-position: 0px -192px; }
.flair-enlightenment { background-position: 0px -208px; }
.flair-fedora { background-position: 0px -224px; }
.flair-fluxbox { background-position: 0px -240px; }
.flair-freebsd { background-position: 0px -256px; }
.flair-freedesktop { background-position: 0px -272px; }
.flair-freesoftwarefoundation { background-position: 0px -288px; }
.flair-gentoo { background-position: 0px -304px; }
.flair-gnome { background-position: 0px -320px; }
.flair-gnu { background-position: 0px -336px; }
.flair-irix { background-position: 0px -352px; }
.flair-kate { background-position: 0px -368px; }
.flair-katesymbol { background-position: 0px -384px; }
.flair-katie { background-position: 0px -400px; }
.flair-kde { background-position: 0px -416px; }
.flair-kdeneon { background-position: 0px -432px; }
.flair-kdenlive { background-position: 0px -448px; }
.flair-kdepride { background-position: 0px -464px; }
.flair-kiki { background-position: 0px -480px; }
.flair-konqi { background-position: 0px -496px; }
.flair-konsole { background-position: 0px -512px; }
.flair-krita { background-position: 0px -528px; }
.flair-kubuntu { background-position: 0px -544px; }
.flair-kwin { background-position: 0px -560px; }
.flair-linuxfromscratch { background-position: 0px -576px; }
.flair-linuxmint { background-position: 0px -592px; }
.flair-mageia { background-position: 0px -608px; }
.flair-mandriva { background-position: 0px -624px; }
.flair-manjaro { background-position: 0px -640px; }
.flair-maui { background-position: 0px -656px; }
.flair-meego { background-position: 0px -672px; }
.flair-mepis { background-position: 0px -688px; }
.flair-mxlinux { background-position: 0px -704px; }
.flair-netbsd { background-position: 0px -720px; }
.flair-netrunner { background-position: 0px -736px; }
.flair-nexeta { background-position: 0px -752px; }
.flair-nixos { background-position: 0px -768px; }
.flair-openbox { background-position: 0px -784px; }
.flair-openbsd { background-position: 0px -800px; }
.flair-opensuse { background-position: 0px -816px; }
.flair-pardus { background-position: 0px -832px; }
.flair-pcbsd { background-position: 0px -848px; }
.flair-pclinuxos { background-position: 0px -864px; }
.flair-plasmamobile { background-position: 0px -880px; }
.flair-qubesos { background-position: 0px -896px; }
.flair-redhat { background-position: 0px -912px; }
.flair-sabanyon { background-position: 0px -928px; }
.flair-slackware { background-position: 0px -944px; }
.flair-slax { background-position: 0px -960px; }
.flair-solaris { background-position: 0px -976px; }
.flair-tux { background-position: 0px -992px; }
.flair-ubuntu { background-position: 0px -1008px; }
.flair-ultamate { background-position: 0px -1024px; }
.flair-vector { background-position: 0px -1040px; }
.flair-void { background-position: 0px -1056px; }
.flair-wayland { background-position: 0px -1072px; }
.flair-windows { background-position: 0px -1088px; }
.flair-xandros { background-position: 0px -1104px; }
.flair-xfce { background-position: 0px -1120px; }
.flair-xorg { background-position: 0px -1136px; }
.flair-yellowdog { background-position: 0px -1152px; }
