.flair-alpine { background-position: 0px 0px; }
.flair-android { background-position: -16px 0px; }
.flair-apple { background-position: -32px 0px; }
.flair-aptosid { background-position: -48px 0px; }
.flair-arch { background-position: -64px 0px; }
.flair-artix { background-position: -80px 0px; }
.flair-backtrack { background-position: -96px 0px; }
.flair-centos { background-position: -112px 0px; }
.flair-chakra { background-position: -128px 0px; }
.flair-debian { background-position: -144px 0px; }
.flair-devuan { background-position: -160px 0px; }
.flair-dragonflybsd { background-position: -176px 0px; }
.flair-endeavour { background-position: -192px 0px; }
.flair-enlightenment { background-position: -208px 0px; }
.flair-fedora { background-position: -224px 0px; }
.flair-fluxbox { background-position: -240px 0px; }
.flair-freebsd { background-position: 0px -16px; }
.flair-freedesktop { background-position: -16px -16px; }
.flair-freesoftwarefoundation { background-position: -32px -16px; }
.flair-gentoo { background-position: -48px -16px; }
.flair-gnome { background-position: -64px -16px; }
.flair-gnu { background-position: -80px -16px; }
.flair-irix { background-position: -96px -16px; }
.flair-kate { background-position: -112px -16px; }
.flair-katesymbol { background-position: -128px -16px; }
.flair-katie { background-position: -144px -16px; }
.flair-kde { background-position: -160px -16px; }
.flair-kdeneon { background-position: -176px -16px; }
.flair-kdenlive { background-position: -192px -16px; }
.flair-kdepride { background-position: -208px -16px; }
.flair-kiki { background-position: -224px -16px; }
.flair-konqi { background-position: -240px -16px; }
.flair-konsole { background-position: 0px -32px; }
.flair-krita { background-position: -16px -32px; }
.flair-kubuntu { background-position: -32px -32px; }
.flair-kwin { background-position: -48px -32px; }
.flair-linuxfromscratch { background-position: -64px -32px; }
.flair-linuxmint { background-position: -80px -32px; }
.flair-mageia { background-position: -96px -32px; }
.flair-mandriva { background-position: -112px -32px; }
.flair-manjaro { background-position: -128px -32px; }
.flair-maui { background-position: -144px -32px; }
.flair-meego { background-position: -160px -32px; }
.flair-mepis { background-position: -176px -32px; }
.flair-mxlinux { background-position: -192px -32px; }
.flair-netbsd { background-position: -208px -32px; }
.flair-netrunner { background-position: -224px -32px; }
.flair-nexeta { background-position: -240px -32px; }
.flair-nixos { background-position: 0px -48px; }
.flair-openbox { background-position: -16px -48px; }
.flair-openbsd { background-position: -32px -48px; }
.flair-opensuse { background-position: -48px -48px; }
.flair-pardus { background-position: -64px -48px; }
.flair-pcbsd { background-position: -80px -48px; }
.flair-pclinuxos { background-position: -96px -48px; }
.flair-plasmamobile { background-position: -112px -48px; }
.flair-qubesos { background-position: -128px -48px; }
.flair-redhat { background-position: -144px -48px; }
.flair-sabanyon { background-position: -160px -48px; }
.flair-slackware { background-position: -176px -48px; }
.flair-slax { background-position: -192px -48px; }
.flair-solaris { background-position: -208px -48px; }
.flair-tux { background-position: -224px -48px; }
.flair-ubuntu { background-position: -240px -48px; }
.flair-ultamate { background-position: 0px -64px; }
.flair-vector { background-position: -16px -64px; }
.flair-void { background-position: -32px -64px; }
.flair-wayland { background-position: -48px -64px; }
.flair-windows { background-position: -64px -64px; }
.flair-xandros { background-position: -80px -64px; }
.flair-xfce { background-position: -96px -64px; }
.flair-xorg { background-position: -112px -64px; }
.flair-yellowdog { background-position: -128px -64px; }
